*,
p,
button,
h1,
h2,
input {
  margin: 0;
  border: none;
  box-sizing: border-box;
}

.app {
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 15px;
  font-family: monospace;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: black;
  border-top: 50px solid black;
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header p {
  max-width: 500px;
}

.otp {
  display: flex;
  gap: 15px;
}

input {
  padding: 10px;
  width: 45px;
  height: 60px;
  border-radius: 5px;
  border: 2px solid grey;
  outline: none;
  text-align: center;
  font-size: 20px;
}

input:focus {
  border-color: rgb(115, 209, 115);
  border-bottom-width: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

button {
  color: white;
  font-weight: bold;
  background-color: rgb(38, 38, 235);
  padding: 15px;
  width: 300px;
  border-radius: 24px;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
}

/* .top-bar {
  height: 50px;
  width: 500px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: black;
} */

.gray {
  color: rgb(94, 93, 93)
}



@media only screen and (max-width: 321px) {
  .app {
    min-height: 100vh;
    height: initial;
    gap: 10px;
  }

  h1 {
    font-size: 30px;
  }

  .otp {
    gap: 5px;
  }

  .top-bar {
    height: 35px;
  }
}

@media only screen and (max-width: 430px) {
  .app {
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100vw;
  }

  .card {
    min-height: 100vh;
    gap: 20px;
    width: 100vw;
  }

  h1 {
    font-size: 40px;
  }

  .otp {
    gap: 5px;
  }

}